/* Enter your custom styles here */


.image0 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.tiles {
    margin-top: 10px;
}


.buttonmargin {
    margin: 5px;
}

.buttonsize {
    height: 82px;
}

.tilesize {
    height: 130px;
}

#container-HTML5Module---View1--button001-inner {
     height: 82px;
}

#container-HTML5Module---View1--button002-inner {
     height: 82px;
}
#container-HTML5Module---View1--button003-inner{
     height: 82px;
}
#container-HTML5Module---View1--button004-inner {
     height: 82px;
}
#container-HTML5Module---View1--button005-inner {
     height: 82px;
}
#container-HTML5Module---View1--button006-inner {
     height: 82px;
}

#container-HTML5Module---View1--tile4{
height: 120px;
}
#container-HTML5Module---View1--tile5{
height: 120px;
}
#container-HTML5Module---View1--tile6{
height: 120px;
}
#container-HTML5Module---View1--tile7{
height: 120px;
}
#container-HTML5Module---View1--tile8{
height: 120px;
}
#container-HTML5Module---View1--tile9{
height: 120px;
}



#container-HTML5Module---View1--tile5_1614237538025{
    width: 150px ;
    margin-left: 30px;
    margin-top: 10px;
    background-color:  #266fbd;
}

#container-HTML5Module---View1--tile4_1614237511342 {
    width: 150px ;
    margin-left: 30px;
    margin-top: 10px;
    
}

#container-HTML5Module---View1--tile7_1614237564064{
    width: 150px ;

   
}

#container-HTML5Module---View1--tile6_1614237552143{
    width: 150px ;  
    margin-top: 10px;  
    background-color:  #266fbd;
}

.sapMListHdrText{
    font-size: 1.425rem;
    font-weight: bold;
    color: #232f43;
}

.sapMBtnContent {
    font-weight: bold;
    align-self: center;
}

.sapMGT.sapMPointer * {

    font-weight: bold;
}

#container-HTML5Module---View1--hbox0_1614235640623{
    margin-top: 30px;
    margin-bottom: 30px;
}

#__content1 {
    background-color: rgb(226, 231, 241);
}

#__content3 {
    background-color: #d1d1d1;
}
#__content5 {
    background-color: rgb(226, 231, 241);
}
#__content7 {
    background-color:#d1d1d1;
}


#container-HTML5Module---View1--button001-inner{
    background-color: #266fbd;
    color: white;
}
#container-HTML5Module---View1--button005-inner{
    background-color: #266fbd;
    color: white;    
}
#container-HTML5Module---View1--button003-inner{
     background-color: #266fbd;
    color: white;    
}

#container-HTML5Module---View1--table0-header{
    background-color: rgb(226, 231, 241);    
}
#container-HTML5Module---View1--table1-header{
    background-color: #d1d1d1;
}

#container-HTML5Module---View1--vbox0_1614237162912{
    margin-left: 7px;
}